<h1>Shipment Details</h1>

@foreach(var Shipment in Model)
{
    <h2>Shipment @Shipment.GetNumber()</h2>
    <p>
    Total: @Shipment.GetShippingCost()
    <br>
    Width: @Shipment.GetWidth()
    <br>
    Height: @Shipment.GetHeight()
    <br>
    Length: @Shipment.GetLength()
    <br>
    Weight: @Shipment.GetWeight()
    <br>
    Cubic Volume: @Shipment.GetVolume()
    </p>
}
